name: Publish

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Publish
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: |
            8
            16
            17
            21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: false

      - name: Setup Gradle loom cache
        uses: actions/cache@v5
        with:
          path: |
            **/loom-cache
          key: gradle-caches-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('**/gradle.properties', 'gradle/*.versions.toml') }}
          restore-keys: |
            gradle-caches-${{ hashFiles('**/*.gradle*') }}
            gradle-caches-

      - name: Build with Gradle
        run: ./gradlew publishAllPublicationsToPlasmoverseReleasesRepository --stacktrace
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
