name: Publish PR

on:
  pull_request_target:
    types:
      - opened
  workflow_run:
    workflows:
      - 'Build PR'
    types:
      - completed
  issue_comment:
    types:
      - edited

jobs:
  publish-pr:
    uses: plasmoapp/actions/.github/workflows/gradle-publish-pr.yml@main
    secrets:
      app_id: ${{ secrets.PLASMO_APP_ID }}
      app_private_key: ${{ secrets.PLASMO_APP_PRIVATE_KEY }}
      maven_username: ${{ secrets.MAVEN_PRS_USERNAME }}
      maven_password: ${{ secrets.MAVEN_PRS_PASSWORD }}
    with:
      gradle_publish_command: 'publishAllPublicationsToPlasmoversePrsRepository -Pmodded.versions_mode=ALL'
      build_workflow_name: 'Build PR'
      artifact_group: 'su.plo.slib'
      artifact_id: '<module>'
